footer#footer
    .container
        .footer-widgets
            .row
                .col-md-3
                    .footer-about-us
                        h5.heading-white 关于我们
                        p
                            | 创客云（www.22vd.com）专业提供网站模板，网页模板，网站源码，网站素材，网页特效等网页设计素材免费下载。我们致力于打造一个优秀的建站资源共享学习平台。
                        .social-icons
                            a(href='javascript:;')
                                i.fa.fa-weixin
                            a(href='javascript:;')
                                i.fa.fa-weibo
                            a(href='javascript:;')
                                i.fa.fa-qq
                            a(href='javascript:;')
                                i.fa.fa-linkedin
                            a(href='javascript:;')
                                i.fa.fa-pinterest-p
                            a(href='javascript:;')
                                i.fa.fa-instagram

                .col-md-3
                    h5.heading-white 上班时间
                    .office-1
                        p 每周一至周五
                        p 早上 8:30 - 下午 18:00
                    .office-2
                        p 联系我们
                        p 电话: 028-88888888
                        p
                            | 邮箱:admin@qq.com
                            a(href='mailto:88888889@qq.com') 
                        p 地址:四川省成都市高新区孵化园
                .col-md-3
                    h5.heading-white 企业动态
                    .footer-posts
                        .footer-entry
                            h6
                                a(href='news') 创客云-建站资源共享学习平台
                            span 2016-03-07/ admin

                        .footer-entry
                            h6
                                a(href='news') 创客云-建站资源共享学习平台
                            span 2016-03-07/ admin

                        .footer-entry
                            h6
                                a(href='news') 2015年的网站设计重心会更倾向
                            span 2016-01-22/ admin

                .col-md-3
                    h5.heading-white 最新产品
                    ul.recent-works
                        li
                            a(href='product_show')
                                img(src='/public/images/footer/1-1503201432160-L.jpg' width='85', height='85')
                        li
                            a(href='product_show')
                                img(src='/public/images/footer/1-1503201433250-L.jpeg' width='85', height='85')
                        li
                            a(href='product_show')
                                img(src='/public/images/footer/1-1503202053470-L.jpg' width='85', height='85')
                        li
                            a(href='product_show')
                                img(src='/public/images/footer/1-1503202054230-L.png' width='85', height='85')
                        li
                            a(href='product_show')
                                img(src='/public/images/footer/1-1503202055010-L.jpg' width='85', height='85')
                        li
                            a(href='product_show')
                                img(src='/public/images/footer/1-1503202055330-L.jpg' width='85', height='85')

.bottom-footer
    .container
        .row
            .col-xs-12.text-center
                .copyright
                    | Copyright © 
                    a(style='color: rgb(16, 183, 47);', href="javascript:;") 创客云 
                    |  版权所有
